{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<section>
    <div class="row no-gutters">
        <div class="col-md-6 no-gutters">
            <div class="leftside d-flex justify-content-center align-items-center">
                <h2 class="page-not-found--title">Wh oops!</h2>
            </div>
        </div>
        <div class="col-md-6 no no-gutters">
            <div class="rightside">
                <h3 class="page-not-found--subtitle">oh, no...</h3>
                <p class="error-msg">
                    Page not found, let's go <span class="back-home">home</span>.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}