{% extends 'blog/base.html' %}

{% block content %}

    <section class="hero-section space">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero-text">
                                <h2>Cheyánne Fairclough</h2>
                                <p>I'm a Software Engineer Apprentice obsessed with technology, fascinated with history and in
                                    love with travelling and culture.
                                </p>
                            </div>
                            <div class="hero-info">
                                <h2>General Info</h2>
                                <ul>
                                    <li>
                                        <span>Date of Birth</span>
                                        Oct 8, 1997
                                    </li>
                                    <li>
                                        <span>Location</span>
                                        London, SE19, UK
                                    </li>
                                    <li>
                                        <span>Email</span>
                                        hello@cheyfair.com
                                    </li>
                                    <li>
                                        <span>Phone</span>
                                        +44 7546 824180
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}