{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!--===== UNICONS =====-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!--===== BOX ICONS =====-->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

        <title>Chey Fair</title>
    </head>
    <body>
        <!--===== HEADER =====-->


        <header class="l-header">
                <nav class="nav bg-grid">
                    <div>
                        <a href="{% url 'base' %}" class="nav__logo">Chey</a>
                    </div>

                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="{% url 'base' %} " class="nav__link active">Home</a></li>
                            <li class="nav__item"><a href="{% url 'about' %}" class="nav__link">About</a></li>
                            <li class="nav__item"><a href="{% url 'skills' %}" class="nav__link">Skills</a></li>
                            <li class="nav__item"><a href="{% url 'portfolio' %}" class="nav__link">Portfolio</a></li>
                            <li class="nav__item"><a href="{% url 'contact' %}" class="nav__link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-menu'></i>
                    </div>
                </nav>
        </header>
            <main class="l-main">

                        {% block content %}
                            
                           <section class="home bd-grid" id="home">
                               <div class="home__data">
                                   <h1 class="home__title">Hi, I'm Cheyánne</h1>
                                   <h3 class="home__subtitle">Full Stack Developer</h3>
                                   <p class="home__description">Junior level experience in web design and development.</p>
                                   <a href="{% url 'contact' %}" class="button">Contact</a>
                               </div>

                               <div class="home__social">
                                   <a href="https://www.linkedin.com/in/cheyfair" target="_blank" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                                   <a href="https://codepen.io/cheyfair" target="_blank" class="home__social-icon"><i class='bx bxl-codepen' ></i></a>
                                   <a href="https://github.com/cheyfair" target="_blank" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                               </div>

                               <div class="home__img">
                                   <img src="{% static 'images/2.png' %}" alt="Profile">
                               </div>
                           </section>
                            
                        {% endblock %}

            </main>

            <!--===== FOOTER =====-->
            <footer class="footer">
                <p class="footer__title">Chey</p>

                <div class="footer__social">
                    <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
                </div>
                <p>&#169; 2021 copyright all rights reserved</p>
            </footer>

            <!--===== SCROLL REVEAL =====-->
            <script src="https://unpkg.com/scrollreveal"></script>


            <!--===== MAIN JS =====-->
            <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>