{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

    <section>
        <div class="row no-gutters">
            <div class="col-md-6 no-gutters">
                <div class="leftside d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/cf.png' %}" alt="Picture of Chey Fair">
                </div>
            </div>
            <div class="col-md-6 no no-gutters">
                <div class="rightside bio">
                    <h2 class="bio-title">Cheyánne Fairclough</h2>
                    <h3 class="bio-subtitle">Who am I?</h3>
                    <p class="bio-description">Hi! I'm a Junior Data Engineer from London. 
                        Up until April this year, all my technical skills were self taught, 
                        however, I'm now attending a data engineering bootcamp to further 
                        enhance my knowledge and kickstart my career in tech.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}