{% extends 'blog/base.html' %}

{% block content %}

<section>
    <div class="row no-gutters">
        <div class="col-md-6 no-gutters">
            <div class="leftside d-flex justify-content-center align-items-center">
                <h2 class="contact-title">Con tact.</h2>
            </div>
        </div>
        <div class="col-md-6 no no-gutters">
            <div class="rightside">
                <address class="address"><a class="email" href="mailto:hello@cheyfair.com">hello@cheyfair.com</a>
                    <br><span class="location">SE19 - London, United Kingdoom</span>
                </address>
                <p>
                    <a href="https://www.linkedin.com/in/cheyfair/" target="_blank" class="socials">LinkedIn</a><br>
                    <a href="https://github.com/cheyfair" target="_blank" class="socials">GitHub</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}