{% extends 'blog/base.html' %}

{% block content %}
    <section class="resume-section space">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>
                            Work Experience
                        </h2>
                    </div>
                    <ul class="resume-list">
                        <li>
                            <h2>May 2021 - Present</h2>
                            <h3>FidlLeaf Wellbeing</h3>
                            <h4>Digital Marketing Co-ordinator</h4>
                            <p>
                                I manage Facebook ad campaigns for digital events, including setup and design, resulting in a good knowledge of
                                Facebook Ads Manager. My role also involves PR activity such as pitching opinion pieces to journalists and
                                promoting virtual events. Product testing of new features in the web application.
                            </p>
                        </li>
                        <li>
                            <h2>Feb - Mar 2021</h2>
                            <h3>Big Creative Education</h3>
                            <h4>Digital Marketing Fundamentals</h4>
                            <p>
                                The modules were based around CRM, Competitor Analysis, Target Audiences and digital campaigns. I built up
                                knowledge on SEO, and SEO optimised content including emailing marketing. In addition to this, I created a digital
                                marketing plan which I then pitched to the class and staff which was received successfully.
                            </p>
                        </li>
                        <li>
                            <h2>Nov 2018 - Aug 2019</h2>
                            <h3>London School of Economics</h3>
                            <h4>Office Receptionist and Admin Assistant</h4>
                            <p>
                                I worked towards a Level 2 Business Administration qualification. Developed customer service and interpersonal
                                skills in reception, when dealing with customer enquiries, forwarding relevant calls and messages, welcoming
                                visitors as per agreed office procedure. Handled invoices, logged stationery order details on Excel spreadsheet.
                                Provided support with routine clerical tasks for example, photocopying and collating documents, and laminating etc.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="review-section space pd-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>
                            References
                        </h2>
                    </div>
                    <div class="review-slider owl-carausel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                            <div class="owl-item active">
                                <div class="single-review">
                                    <div class="qut">"</div>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique, quibusdam necessitatibus
                                            illum eligendi itaque nesciunt ab magni sit corporis iste et officiis voluptates suscipit veniam
                                            deserunt perspiciatis fugiat consequatur!
                                        </p>
                                        <h3>Sophie Coulthard</h3>
                                        <h4>Co-founder, FidlLeaf</h4>
                                    </div>
                                </div>
                                <div class="owl-item active">
                                    <div class="single-review">
                                        <div class="qut">"</div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nesciunt accusantium impedit
                                                aperiam dolorem totam autem numquam eligendi sit sequi. Expedita facilis assumenda, laborum nihil
                                                quibusdam ad esse fugiat consequatur?
                                            </p>
                                            <h3>Adam Alton</h3>
                                            <h4>Co-founder, FidlLeaf</h4>
                                        </div>
                                    </div>
                                    <div class="owl-item active">
                                        <div class="single-review">
                                            <div class="qut">"</div>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere natus maiores fugiat rerum. Maiores,
                                                doloribus impedit. Nostrum voluptas nisi at pariatur excepturi quisquam placeat cumque sed, perspiciatis
                                                aperiam! Accusantium, officiis.
                                            </p>
                                            <h3>Robert G. Smith</h3>
                                            <h4>Manager, Company</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-dots">
                            <div class="owl-dots active">
                                <span></span>
                            </div>
                            <div class="owl-dots active">
                                <span></span>
                            </div>
                            <div class="owl-dots active">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}