{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

    <section>
        <div class="row no-gutters">
            <div class="col-md-6 no-gutters">
                <div class="leftside d-flex justify-content-center align-items-center">
                    <h2 class="portfolio-title">Port folio.</h2>
                </div>
            </div>
            <div class="col-md-6 no no-gutters">
                <div class="rightside">
                    <h3 class="project-title">Data Engineering</h3>
                    <p class="project-description">Lorem, ipsum dolor sit amet consectetur 
                        adipisicing elit. Velit dolore, culpa amet aperiam cumque iusto, cum 
                        minus quis excepturi doloribus fugit corporis similique dolor deleniti 
                        omnis accusamus necessitatibus mollitia tempora!</p>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}