{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <section class="portfolio section" id="portfolio">
        <h2 class="section-title">Portfolio</h2>
        <span class="section__subtitle">Most recent work</span>

        <div class="portfolio__container bd-grid">
            <div>
                <!--=========== PORTFOLIO 1 ===========-->
                <div class="portfolio__content grid">
                    <img src="{% static 'assets/demo1.jpg' %}" alt="" class="portfolio__img">

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Modern Website</h3>
                        <p class="portfolio__description">Lorem ipsum dolor
                            sit amet consectetur, adipisicing elit. Qui, dolore.</p>
                        <a href="#" class="button">
                            Demo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}