/* Fonts */
@font-face {
    font-family: Finches;
    src: url(fonts/Finches/Finches.ttf);
}


@font-face {
    font-family: Popins;
    src: url(fonts/Poppins-Regular.ttf);
}


@font-face {
    font-family: APOLLO;
    src: url(fonts/APOLLO.otf);
}


@font-face {
    font-family: Monologue Sans;
    src: url(fonts/Monologues/TTF/MonologueSansItalic-Regular.ttf);
}


@font-face {
    font-family: Josefin Sans;
    src: url(fonts/JosefinSans-Regular.ttf);
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --header-height: 3rem;
}

/* Fonts */
:root {
    --fin: Finches;
    --ap: APOLLO;
    --mon: Monologue Sans;
    --jo: Josefin Sans;
    --pop: Popins;
}

/* Colours */
:root {
    /* Scheme */
    --white: #FFFFFF;
    --off-white: #FFFBFB;
    --soft-pink: #F9F2F4;
    --light-pink: #F1DAE0;
    --off-black: #323232;

    /* #E06287 */
    --hue-color: 350;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --second-color: #000;
}

/*===== Sources and Typography =====*/
:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* Margins */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}


/* Z index */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* Base */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

}

h1, h2, h3, h4 {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

::placeholder {
    font-size: var(--smaller-font-size);
}

/* Class CSS */
.section-title {
    color: var(--first-color);
    font-family: Apollo;
    font-size: var(--h1-font-size);
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 3.5rem;
    margin-bottom: var(--mb-4);
    position: relative;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section__subtitle {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-bottom: 3rem;
}

.section {
    padding-top: 2rem 0 4rem;
    padding-bottom: 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h2-font-size);
}

.section_skills {
    padding: 2rem 0 4rem;
}

/* Layout */
.container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: none;
    /* box-shadow: 0 1px 4px rgba(146, 161, 176, .15); */
    padding: 0 1rem;
}

.copyright {
    font-family: Josefin Sans;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.cf {
    font-weight: var(--font-semi-bold);
}

/* Nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: var(--font-semi); */
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--light-pink);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
    letter-spacing: 1.4px;
}

.nav__link:hover {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
    font-family: Finches, sans-serif;
    text-transform: lowercase;
    font-size: 30px;
}

.nav__logo:hover {
    text-decoration: none;
    color: inherit;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
    transition: 0.3s;
}

.nav__link:hover::after {
    width: 100%;

}

/* Active menu */
.nav__link:active {
    width: 100%;
}

/* Show menu */
.show {
    right: 0;
}

/* Home */
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: 0.2rem;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: 0.75rem;
}

.home__description {
    margin-bottom: 2rem;
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

/* Buttons */
.button {
    display: inline-block;
    border: 2px solid var(--first-color);
    border-radius: 5rem;
    background-color: #fff;
    color: var(--first-color);
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi-bold);
}

.button:hover {
    background-color: var(--first-color);
    color: #fff;
    text-decoration: none;
    transition: ease-in-out 0.6s;
}

/* Biography */
.bio-title {
    /* Layout */
    top: 367px;
    left: 88px;
    width: 70%;
    height: 87px;
    margin-bottom: 22px;

    /* UI */
    font: normal normal normal 40px/44px var(--ap);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

.bio-subtitle {
    /* Layouut */
    top: 472px;
    left: 132px;
    width: 70%;
    height: 24px;
    margin-bottom: 22px;

    /* UI */
    font: normal normal 24px/45px var(--mon);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 0.6px;
}

.leftside img {
    height: 100vh;
}

.bio-description {
    /* LAyout */
    top: 514px;
    left: 40px;
    width: 70%;
    height: 122px;

    /* UI */
    font: normal normal normal 14px/30px var(--jo);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 0.36px;
}

/* Portfolio */
.leftside, .rightside {
    height: 100vh;
    width: 100%;
}

.leftside {
    background: var(--soft-pink);
}

.rightside {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portfolio-title {
    /* Layout */
    top: 119px;
    left: 82px;
    width: 211px;
    height: 165px;

    /* UI */
    font: normal normal normal 70px/72px var(--ap);
    text-align: left;
    letter-spacing: 4.2px;
    color: #323232;
    text-transform: uppercase;
}

.project-title {
    /* Layout */
    top: 389px;
    left: 131px;
    width: 80%;
    height: 34px;
    display: block;
    margin-bottom: 3rem;

    /* UI */
    font: normal normal 28px var(--mon);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 0.84px;
}

.project-description {
    /* Layout */
    top: 463px;
    left: 18px;
    width: 80%;
    height: 150px;

    /* UI */
    font: normal normal normal 18px/30px var(--jo);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 0.54px;
}

/* Contact */
.address {
    margin-bottom: 69px;
}

.contact-title {
    /* Layout */
    top: 119px;
    left: 82px;
    width: 211px;
    height: 165px;

    /* UI */
    font: normal normal normal 70px/72px var(--ap);
    text-align: left;
    letter-spacing: 4.2px;
    color: #323232;
    text-transform: uppercase;
}

.email {
    /* Layout */
    top: 406px;
    left: 49px;
    width: 80%;
    height: 40px;

    /* UI */
    font: italic normal normal 30px/55px var(--ap);
    color: var(--off-black);
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
}

.email:hover {
    color: var(--off-black);
}

.location {
    /* Layout */
    top: 0px;
    left: 49px;
    width: 80%;
    height: 15px;

    /* UI */
    font: italic normal normal 15px var(--jo);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 0.45px;
    text-transform: capitalize;
}

.socials {
    /* Layout */
    top: 540px;
    left: 148px;
    width: 80%;
    height: 23px;

    /* UI */
    font: normal normal 19px/35px var(--mon);
    letter-spacing: 0.57px;
    color: var(--off-black);
}

.socials:hover {
    color: var(--off-black);
    text-decoration: none;
}

/* 404 Page */
.page-not-found--title {
    /* Layout */
    top: 119px;
    left: 82px;
    width: 211px;
    height: 165px;

    /* UI */
    font: normal normal normal 70px/72px var(--ap);
    text-align: left;
    letter-spacing: 4.2px;
    color: #323232;
    text-transform: uppercase;
}

.page-not-found--subtitle {
    /* Layout */
    top: 462px;
    left: 125px;
    width: 132px;
    height: 38px;

    /* UI */
    font: normal normal 32px/50px var(--mon);
    color: var(--off-black);
    text-align: center;
    letter-spacing: 0.92px;
}

.error-msg {
    /* Layout */
    top: 520px;
    left: 58px;
    width: 260px;
    height: 19px;

    /* UI */
    font: normal normal normal 18px/27px var(--jo);
    color: var(--off-black);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.54px;
}

.back-home {
    /* UI */
    font: normal normal bold 18px/27px var(--jo);
    color: var(--off-black);
    text-decoration: underline;
    letter-spacing: 0.52px;
}

/* Footer */
.footer {
    background-color: var(--light-pink);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi-bold);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    font-family: Finches;
    text-transform: lowercase;
    margin-bottom: var(--mb-4);
    letter-spacing: 1.4px;
}

.footer__title a {
    color: #fff;
    text-decoration: none;
}

.footer__title a:hover {
    color: var(--first-color);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}

.footer__icon:hover {
    color: var(--first-color);
}

/* Media Queries */
@media screen and (min-width: 768px) {
    
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .l-header {
        top: 0;
        bottom: initial;
    }

    .l-header,
    .l-main,
    .footer {
        padding: 0 1rem;
    }


    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }
    
    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--off-black);
        font: normal normal normal var(--pop);
        text-transform: uppercase;
    }

    .nav__link:hover {
        color: var(--off-black);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    
    .home__img {
        width: 420px;
        bottom: 15%;
    }

    .leftside, .rightside {
        height: 100vh;
    }

    .bio {
        margin-top: 7rem;
    }
    
    .bio-title {
        /* Layout */
        top: 367px;
        left: 30px;
        width: 70%;
        height: 87px;
        margin-bottom: 44px;
    
        /* UI */
        font: normal normal normal 50px/55px var(--ap);
        color: var(--off-black);
        text-align: left;
        letter-spacing: 1.08px;
        text-transform: uppercase;
    }
    
    .bio-subtitle {
        /* Layouut */
        top: 472px;
        left: 30;
        width: 70%;
        height: 24px;
        margin-bottom: 28px;
    
        /* UI */
        font: normal normal 28px/41px var(--mon);
        color: var(--off-black);
        text-align: left;
        letter-spacing: 0.6px;
    }

    .bio-description {
        /* LAyout */
        top: 514px;
        left: 30px;
        width: 70%;
        height: 122px;
    
        /* UI */
        font: normal normal normal 15px/26px var(--jo);
        color: var(--off-black);
        text-align: left;
        letter-spacing: 0.36px;
    }
    
}

@media screen and (min-with: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        right: 10%;
    }
}
